@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Oswald:wght@300&display=swap");

.principal-content-proyect {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #272626;
  color: rgb(57, 220, 36) ;
}
.title {
  color: rgb(57, 220, 36) ;
}
.content-project {
  max-width: 1500px;
  margin: 0 auto !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  align-items: center;
}
.as {
    margin-top: 5px;
}
.icon-project {
    margin-right: 8px;
    color: #E83A14;
}
.icon-name-project {
  padding: 0px;
}
.text-footer{
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem !important;
}
.content-projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.content-project h4 {
  margin-bottom: 0px;
  font-size: 1.8rem;
  margin-top: 5px;
}
@media screen and (max-width: 432px) {
    .as {
        font-size: 0.9rem;
    }
    .text-footer{
      font-family: "Oswald", sans-serif;
      font-size: 1rem !important;
    }
  .content-projects {
    text-align: center;
    margin: 10px;
  }
  .content-project h4 {
    margin-bottom: 0px;
    font-size: 1.2rem;
    margin-top: 5px;
  }
  .content-project a {
    font-size: 0.9rem;
  }
}
