@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Oswald:wght@300&display=swap");

.content-1 {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto !important; 
    align-items: center;
    /* background-color: aqua; */
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}
.text-identify {
    align-items: center;
}
.icon-identify {
    margin-right: 4px;
    padding-top: 0px;
    margin-bottom: 3px;
}
.icon-arrow {
   margin-top: 7px;
   color: #5c5757;;
   margin-bottom: 7px;
}
@media screen and (max-width: 495px) {
    .content-1 h4 {
        font-size: 0.9em;
        margin: 9px;
    }
    .icon-arrow {
        margin:0px ;
     }
    
}
@media screen and (max-width: 432px) {
    .content-1 h4 {
        font-size: 0.7em;
        margin: 9px;
    }
    .icon-arrow {
        margin:0px ;
     }
    
}