@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Oswald:wght@300&display=swap");

.footer {
  padding-top: 10px;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  color: #fff;
  background-color: #000000;
  font-family: "Oswald", sans-serif;
}

.icon-heart {
  margin-left: 10px;
}


